notebook
numpy
pandas
opencv-python
keras
pillow
pydicom
pywavelets
ipywidgets
scikit-image
scikit-learn
scipy
seaborn
setuptools
simpleitk
statannot
statsmodels
tensorflow
tqdm
xlrd
openpyxl
statannot
shap  # Not used as of now
matplotlib
lime
reportlab
